fastapi
uvicorn
pydantic
qdrant-client
PyYAML
python-dotenv
redis
python-logstash-async
kafka-python
scikit-learn
numpy
google-generativeai
google-genai
python-logstash
requests
pytest
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
