fastapi
uvicorn
pydantic
qdrant-client
PyYAML
scikit-learn
numpy
google-generativeai
google-genai
requests
pytest
sentence_transformers
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant

