fastapi
uvicorn
PyYAML
scikit-learn
pydantic
llama-index
llama-index-core
llama-index-vector-stores-qdrant
google-generativeai
llama-index-llms-gemini
google-genai
llama-index-embeddings-gemini
qdrant-client
numpy
pydantic
python-dotenv
pytest
requests